<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events All</h1>

<div id="events">
  <% @eventsAll.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>

<h1>Show events from now to 30 days later</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
